# 데이터 정렬

In [1]:
import pandas as pd
df = pd.read_csv('score.csv')
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df.sort_values('키')

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
2  송태섭  북산고  168   80   75   70  80  75  Javascript
1  정대만  북산고  184   40   35   50  55  25        Java
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#
0  채치수  북산고  197   90   85  100  95  85      Python
5  변덕규  능남고  202   80  100   95  85  80           C

In [3]:
df.sort_values('키',ascending=False)

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
5  변덕규  능남고  202   80  100   95  85  80           C
0  채치수  북산고  197   90   85  100  95  85      Python
7  윤대협  능남고  190  100   85   90  95  95          C#
4  강백호  북산고  188   15   20   10  35  10         NaN
6  황태산  능남고  188   55   65   45  40  35      PYTHON
3  서태웅  북산고  187   40   60   70  75  80         NaN
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript

In [4]:
df.sort_values(['수학','영어'],ascending=False)

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
5  변덕규  능남고  202   80  100   95  85  80           C
7  윤대협  능남고  190  100   85   90  95  95          C#
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
1  정대만  북산고  184   40   35   50  55  25        Java
6  황태산  능남고  188   55   65   45  40  35      PYTHON
4  강백호  북산고  188   15   20   10  35  10         NaN

In [7]:
df.sort_values(['수학','영어'])

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
4  강백호  북산고  188   15   20   10  35  10         NaN
6  황태산  능남고  188   55   65   45  40  35      PYTHON
1  정대만  북산고  184   40   35   50  55  25        Java
3  서태웅  북산고  187   40   60   70  75  80         NaN
2  송태섭  북산고  168   80   75   70  80  75  Javascript
7  윤대협  능남고  190  100   85   90  95  95          C#
5  변덕규  능남고  202   80  100   95  85  80           C
0  채치수  북산고  197   90   85  100  95  85      Python

In [8]:
df.sort_values(['수학','영어'],ascending=[True, False]) #수학은 오름차순, 영어는 내림차순으로 정렬

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
4  강백호  북산고  188   15   20   10  35  10         NaN
6  황태산  능남고  188   55   65   45  40  35      PYTHON
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
7  윤대협  능남고  190  100   85   90  95  95          C#
5  변덕규  능남고  202   80  100   95  85  80           C
0  채치수  북산고  197   90   85  100  95  85      Python

In [9]:
df['키'].sort_values()

2    168
1    184
3    187
4    188
6    188
7    190
0    197
5    202
Name: 키, dtype: int64

In [11]:
df['키'].sort_values(ascending=False)

5    202
0    197
7    190
4    188
6    188
3    187
1    184
2    168
Name: 키, dtype: int64

In [12]:
df.sort_index()

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#